.lineContainer {
  display: flex;
  align-items: center;
  width: 420px;
  margin: 10px 0px;
  /* border: 1px solid black; */
}

.lineInsumo {
  flex: 7;
  font-size: 14px;
  /* border: 1px solid black; */
}

.lineProveedores {
  display: flex;
  flex: 8;
  /* border: 1px solid black; */
  justify-content: center;
  flex-wrap: wrap;
}

.lineDate {
  flex: 4;
  font-size: 14px;
}

.edit {
  margin-top: -10px;
  margin-right: 5px;
}

.lineContainer div span {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 20px;
}

.lineProveedores span {
  background-color: lightblue;
}

.lineInsumo span {
  background-color: lightsalmon;
}

.lineAdd {
  flex: 1;
}

.selected {
  border-radius: 10px;
  padding: 10px;
}
