.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 150px);
}

.shadow {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.infoDisplay {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infoLeft,
.infoRight {
  width: 45%;
  height: calc(100vh - 250px);
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.infoTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.infoRight .infoTitle {
  margin-top: 30px;
}

.infoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.infoItem {
  margin: 20px 30px;
}
